* {
  margin: 0;
  padding: 0;
}
div:hover {
  border: 3px solid black;
}
div:nth-of-type(1){
  background-color: green;
}
div:nth-of-type(2){
  background-color: orange;
}
div:nth-of-type(3){
  background-color: yellowgreen;
}
div:nth-of-type(4){
  background-color: navy;
}
div:nth-of-type(5){
  background-color: yellow;
}
div:nth-of-type(1) h3 {
  color: white;
}
div:nth-of-type(2) h3 {
  color: purple;
}
div:nth-of-type(3) h3 {
  color: tomato;
}
div:nth-of-type(4) h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div:nth-of-type(5) h3 {
 font-size: 10px;
}
div:nth-of-type(3){
  height: 100px;
  font-size: 30px;
  padding-top: 50px;
}
div:nth-child(2n+1){
  font-style: italic;
}
div {
  margin: 1px;
}