:root {
  --branco: rgb(255, 255, 255);
  --amarelo: rgb(230, 188, 47);
  --amarelo2: rgb(255, 204, 0);
  --amarelo3: rgb(213, 161, 0);
  --vermelho: rgb(255, 31, 31);
  --azul-claro: rgb(93, 185, 255);
  --azul-claro2: rgb(0, 117, 190);
  --azul-escuro: rgb(54, 59, 129);
  --azul-escuro2: rgb(10, 40, 95);
  --cinza-claro: rgb(164, 164, 164);
  --cinza-escuro: rgb(49, 49, 49);
  --laranja-escuro: rgb(227, 53, 13);
  --laranja-claro: rgb(238, 107, 47);
  --verde: rgb(77, 173, 91);
  --azul: rgb(48, 167, 215);

    /* Cores dos tipos: */
  --bug-verde: rgb(114, 159, 63);
  --dark-cinza: rgb(112, 112, 112);
  --dragon-laranja: rgb(241, 110, 87);
  --electric-amarelo: rgb(238, 213, 53);
  --fairy-rosa: rgb(253, 185, 233);
  --fighting-laranja: rgb(213, 103, 35);
  --fire-laranja-escuro: rgb(253, 125, 36);
  --flying-azul: rgb(61, 199, 239);
  --ghost-roxo: rgb(123, 98, 163);
  --grass-verde: rgb(155, 204, 80);
  --ground-amarelo: rgb(247, 222, 63);
  --ice-azul: rgb(81, 196, 231);
  --normal-cinza: rgb(164, 172, 175);
  --poison-roxo: rgb(185, 127, 201);
  --psychic-rosa: rgb(243, 102, 185);
  --rock-ocre: rgb(163, 140, 33);
  --steel-prata: rgb(158, 183, 184);
  --water-azul: rgb(69, 146, 196);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

main {
  margin: 0 auto;
  max-width: 70%;
}

header {
  font-family: 'Rampart One', cursive;
}

header img {
  height: 240px;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title h1 {
  font-size: 5em;
  margin-left: 30px;
}

.description {
  background-color: var(--laranja-claro);
  padding: 20px 30px;
  border-radius: 6px;
}

.description p {
  font-family: sans-serif;
  font-size: 1.17em;
  font-weight: 700;
  color: var(--branco);
  text-align: center;
}

.types-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  max-width: 804px;
  padding: 10px;
  border: 1px double rgba(0, 0, 0, 0.137);
  border-radius: 7px;
}

.types-images img {
  height: 50px;
  width: 115px;
  cursor: pointer;
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  opacity: 30%;
}

.types-images img:hover {
-webkit-transform: scale(1.7);
transform: scale(1.7);
}

.types-images .selected {
  opacity: 100%;
}

.choose-text {
  display: flex;
  justify-content: space-between;
  background-color: var(--azul-escuro);
}

.choose-text div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.choose-text p {
  width: 100%;
}

.choose-text #pokeball {
  vertical-align: text-bottom;
  width: 20px;
  margin-bottom: 1px;
  margin-left: 10px;
}

.choose-text div:nth-child(1) {
  width: 45%;
  justify-content: space-evenly;
}

.choose-text div:nth-child(2) {
  width: 55%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.choose-text input {
  border-radius: 5px;
  padding: 3px;
  height: 34px;
  text-align: center;
}

.effect {
  border: none;
  color: var(--branco);
  width: 161px;
  padding: 4px 8px;
  margin: 10px;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 6px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
}

.effect-1 {
  background-color: var(--cinza-escuro);
}

.effect-1:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.103);
  border-radius: 6px;
  transition: all 0.5s ease;
}

.effect-1:hover::before {
  width: 100%;
}

.chosen-pokemon{
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-top: 15px;
  font-family: cursive;
  border: 1px double rgba(0, 0, 0, 0.137);
  border-radius: 7px;
}

.chosen-pokemon h2 {
  font-size: 1.75em;
  font-weight: 700;
  color: var(--cinza-escuro);
}

.chosen-pokemon .poke-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.chosen-pokemon .poke-sprite {
  width: 550px;
  height: 500px;
  max-width: 650px;
  max-height: 600px;
  margin: 30px auto;
}

.chosen-pokemon .poke-types {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}

.fight-info {
  padding: 20px;
  display: flex;
  margin-top: 15px;
  /* border: 1px double rgba(0, 0, 0, 0.137);
  border-radius: 7px; */
}

.fight-info .resistant {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.fight-info .resistant .poke-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 260px;
}

.fight-info .resistant .poke-types img:nth-child(odd) {
  /* background-color: red; */
  margin-right: auto;
}

.fight-info .weak {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


.fight-info .weak .poke-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 260px;
  /* flex-direction: column; */
  /* align-content: center;   */
}

.fight-info .weak .poke-types img:nth-child(odd) {
  /* background-color: red; */
  margin-right: auto;
}

.fight-info h3 {
  font-size: 2em;
  color: var(--amarelo);
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.type {
  border-radius: 8px;
  width: 130px;
}

/* .type.bug {
  background-color: var(--bug-verde);
  color: var(--branco);
}

.type.dark {
  background-color: var(--dark-cinza);
  color: var(--branco);
}

.type.dragon {
  background-color: var(--dragon-laranja);
  color: var(--branco);
}

.type.electric {
  background-color: var(--electric-amarelo);
  color: var(--branco);
}

.type.fairy {
  background-color: var(--fairy-rosa);
  color: var(--branco);
}

.type.fighting {
  background-color: var(--fighting-laranja);
  color: var(--branco);
}

.type.fire {
  background-color: var(--fire-laranja-escuro);
  color: var(--branco);
}

.type.flying {
  background-color: var(--flying-azul);
  color: var(--branco);
}

.type.ghost {
  background-color: var(--ghost-roxo);
  color: var(--branco);
}

.type.grass {
  background-color: var(--grass-verde);
  color: var(--branco);
}

.type.ground {
  background-color: var(--ground-amarelo);
  color: var(--branco);
}

.type.ice {
  background-color: var(--ice-azul);
  color: var(--branco);
}

.type.normal {
  background-color: var(--normal-cinza);
  color: var(--branco);
}

.type.poison {
  background-color: var(--poison-roxo);
  color: var(--branco);
}

.type.psychic {
  background-color: var(--psychic-rosa);
  color: var(--branco);
}

.type.rock {
  background-color: var(--rock-ocre);
  color: var(--branco);
}

.type.steel {
  background-color: var(--steel-prata);
  color: var(--branco);
}

.type.water {
  background-color: var(--water-azul);
  color: var(--branco);
} */

.footer {
  font-family: cursive;
  font-size: 1em;
  text-align: center;
  padding: 45px 0 15px;
}

.footer a {
  text-decoration: none;
  color: var(--cinza-escuro);
  cursor: pointer;
}

.footer a:visited {
  text-decoration: none;
  color: var(--cinza-escuro);
}

.footer a:hover {
  text-decoration: none;
  color: var(--fire-laranja-escuro);
}

.footer a:active {
  text-decoration: none;
  color: var(--cinza-escuro);
}