body {
 font-size: large;
 margin: 5px;
}

h1 {
  font-size: 22px
}

h2 {
  font-size: 0.8em;
}

img {
    max-width: 100%;
    padding: 5px;
    border-radius: 400px;
}

figure {
    margin: 0;
    text-align: center;
}

@media screen and (min-width: 750px){
  body {
    background-color: burlywood;
    font-size: x-large;
    margin: 20px;
    max-width: max-content;
  }

  figure {
    float: left;
    width: 30%;
    margin: 4.5%;
  }
}

@media screen and (min-width: 1300px) {
  body {
    background-color: lightseagreen;
    font-size: xx-large;
    margin: 50px;
    max-width: max-content;
  }

  figure {
    float: left;
    width: 30%;
    margin: 1.5%;
  }
}