.card-container {
  display: flex;
  flex-direction: column;
}

.card-container:hover {
  border: 1px solid black;
  border-radius: 5px;
  transform: scale(1.03);
}

.product-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}


.product-card h3 {
  margin-bottom: 10px;
  text-align: center;
}

.item {
  align-items: center;
  display: flex;
  justify-content: center;
}

.product-card img {
  height: 150px;
  margin-right: 20px;
  width: 150px;
}

.card-container a {
  color: black;
  cursor: alias;
  text-decoration: none;
}

.card-container a:visited {
  text-decoration: none;
}

.card-container a:hover {
  text-decoration: none;
}

.card-container a:active {
  text-decoration: none;
}

.card-container button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px auto 30px;
  padding: 4px 10px;
}
